{% extends "base.html" %}

{% block title %} About {% endblock %}

{% block content %}
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tempus maximus mauris at varius. Duis malesuada sagittis lectus nec sagittis. Aenean dictum est eu felis auctor, ut pretium tellus pretium. Suspendisse placerat, sapien a pharetra consequat, ligula magna dapibus lorem, nec porttitor ex magna ut lectus. Integer sollicitudin mi id quam finibus tristique. Aenean nisi tortor, condimentum id tristique ac, scelerisque sed nunc. Duis tempus aliquet interdum. Mauris non quam commodo, rutrum risus eget, ullamcorper metus. Donec vel volutpat mi, vitae fringilla odio.</p>
    <script>
        /*const xhr = new XMLHttpRequest();

        xhr.open("GET", "http://127.0.0.1:8000/foods/Pepperoni", true);

        xhr.onload = function() {
            if (this.status === 200) {
                console.log(JSON.parse(this.responseText));
            }
        }

        xhr.send()*/

        function getFood() {
            return new Promise((resolve, reject) => {
                fetch("http://127.0.0.1:8000/foods/Pepsi")
                .then(res => 
                    res.json()
                ).then(data =>  
                    resolve(data)
                ).catch(err =>
                    reject(err)
                );
            });
        }

        getFood().then(data =>
            console.log(data)
        ).catch(err => 
            console.log(err)
        );

        /*async function getFood() {
            const api = await fetch("http://127.0.0.1:8000/foods/Pepsi"),data = await api.json();
            return data;
        }

        getFood().then(data =>
            console.log(data)
        ).catch(err => 
            console.log(err)
        );*/
    </script>
{% endblock %}