#header {
    background: #1a1a1a;
}

#branding {
    height: 80px;
    display: flex;
    align-items: center;
}

#branding img {
    height: 80%;
}

.breadcrumbs, caption, a.deletelink {
    background: #fe0000 !important;
}

a.deletelink:hover {
    background: #8b0000 !important;
}

#nav-filter {
    margin: 0 0 30px 0;
}

input[name="_save"], input[name="_addanother"]:hover, input[name="_continue"]:hover {
    background: #006400 !important;
}

input[name="_save"]:hover, input[name="_addanother"], input[name="_continue"] {
    background: #00bb00 !important;
}

.current-model {
    background: rgba(255, 0, 0, .2) !important;
}

a[href="/"] {
    display: none;
}